<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bookPicture</key>
		<string>QQ20150720-5.png</string>
		<key>title</key>
		<string>育儿百科</string>
		<key>class</key>
		<string>育儿/亲子</string>
		<key>writer</key>
		<string>松田道雄	</string>
		<key>shortcomment</key>
		<string>畅销童书，从婴儿诞生前一直写到孩子上小学</string>
		<key>prize</key>
		<string>49</string>
		<key>newsItem</key>
		<array>
			<dict>
				<key>logo</key>
				<string>dd.jpg</string>
				<key>prize</key>
				<string>43.5</string>
				<key>url</key>
				<string>http://product.dangdang.com/20864581.html</string>
				<key>market</key>
				<string>百货加价购2</string>
			</dict>
			<dict>
				<key>logo</key>
				<string>jd.png</string>
				<key>prize</key>
				<string>38</string>
				<key>url</key>
				<string>http://item.jd.com/10099109.html?cu=true&amp;utm_source=book.douban.com&amp;utm_medium=tuiguang&amp;utm_campaign=t_15055_&amp;utm_term=ce6d71e14bc04b5cacede2b762692bbc</string>
				<key>market</key>
				<string></string>
			</dict>
			<dict>
				<key>logo</key>
				<string>ymx.jpg</string>
				<key>prize</key>
				<string>36</string>
				<key>url</key>
				<string>http://www.amazon.cn/mn/detailApp/ref=asc_df_B0011991G81653141/?asin=B0011991G8&amp;tag=douban-23&amp;creative=2384&amp;creativeASIN=B0011991G8&amp;linkCode=df0</string>
				<key>market</key>
				<string></string>
			</dict>
		</array>
		<key>menu</key>
		<string>&quot;婴儿诞生之前
1 能当好妈妈吗？
2 常发生的失误
3 什么样的药有危险
4 遗传性疾病
5 蜜月膀胱炎
6 妊娠前保健
7 何时就诊
8 日常生活
9 乳头内陷
10 妊娠反应
11 小小的变化
12 大的异常
13 妊娠期传染病
14 有病妇女的妊娠
15 超声波检查
16 妊娠期禁忌
17 回乡分娩
18 什么时候住院好？
19 预产期到了还不生怎么办？
20 有工作的孕妇的分娩
21 父亲的作用
22 要孩子还是不要孩子
婴儿期的准备工作
23 婴儿的房间与环境
24 婴儿床
25 婴儿的寝具与枕头
26 婴儿的衣服和尿布
27 奶瓶（附婴儿出生需准备的物品）
出生到生后1周
28 对做了爸爸的人说几句
第一周的婴儿
29 出生当天的婴儿
30 从出生到生后1周
喂养方法
31 产后第一天的母亲
32 喂初乳的意义
33 提倡母乳喂养
34 母乳喂养方法
35 乳头破裂
36 是不是母乳不足？
37 母乳不足时的补救措施
38 什么样的奶好？
39 喂鲜牛奶不行吗？
40 奶粉的调配方法
41 喂牛奶的方法
42 在家分娩后的授乳
43 产后母亲的身体
环境
44 尿布的裹法
45 先天性髋关节脱位
46 婴儿洗澡
47 春夏秋冬
48 兄弟姐妹
49 近邻
异常情况
50 未成熟儿（出生时低体重儿）
51 双胞胎
52 头皮血肿
53 吐奶
54 呕吐物中带血
55 唇裂与腭裂
56 痣
57 耳部畸形
58 父亲要做的事
1周到半个月
这周的婴儿
59 从1周到半个月
喂养方法
60 写给用母乳喂养的母亲
61 挤母乳的方法
62 吃别人的奶
63 写给人工喂养的母亲
64 是否有必要加维生素
65 婴儿洗浴后
66 关于体重增加
67 抱婴儿好吗？
68 未成熟儿出院以后
异常情况
69 乳头凹陷
70 患乳腺炎时
71 脐部出血
72 黄疸不消退
73 吸气时喉部发出声音
74 婴儿口腔中的白色小斑点
75 父亲要做的事
半个月到1个月
这个月的婴儿
76 从半个月到1个月
喂养方法
77 用母乳喂养时
78 母乳不足时
79 只用牛奶喂养时
环境
80 防止事故
81 邻居
82 室外空气浴
……
1个月到2个月
2个月到3个月
3个月到4个月
4个月到5个月
5个月到6个月
6个月到7个月
7个月到8个月
8个月到9个月
9个月到10个月
10个月到11个月
11个月到1周岁
1岁到1岁半
1岁半到2岁
2岁到3岁
3岁到4岁
4岁到5岁
5岁到6岁
上学的孩子
小儿疾病
后记
新版发行之际
最新版出版之际
《定本·育儿百科》发行之际
译者后记&quot;</string>
		<key>synopsis</key>
		<string>日本著名儿科专家松田道雄先生《育儿百科》初版于1967年，其后松田先生每天查阅育儿新知识，坚持与孩子的父母交流育儿经验，不断完善、补充新的内容，历经三次大规模的修订，最后完成这本《定本·育儿百科（畅销10年纪念版）》。
　　作为有幸结识此书的工作人员，我强力推荐父母们购买此书，它像一本“育儿词典”一样实用而且可靠，细致入微，面面俱到。
　　当时，我就是在这本书的指引下养育我的女儿的，现在，作为资深妈妈，我一有机会就推荐此书给身边的新妈妈们，并不厌其烦地告诉她们：育儿过程中的一些困惑，此书中都有解答！
　　我已彻底被这本书和它的作者松田先生征服——她如此钻石业务，经验如此丰富。愿新妈妈们都能像我一样幸运——育儿过程中有这位大师的指引！！</string>
		<key>comment</key>
		<array>
			<dict>
				<key>headimg</key>
				<string></string>
				<key>name</key>
				<string>persian_cat</string>
				<key>comment</key>
				<string>向新手妈妈们推荐一本家用育儿百科，真的很好用。宝宝前两天突发高烧，把我急得不行。同事告诉我说可能是幼儿急疹，给我看了育儿百科的介绍，真的跟我家的一模一样。有宝宝的家庭看来可以常备这么一本书了。</string>
			</dict>
			<dict>
				<key>headimg</key>
				<string></string>
				<key>name</key>
				<string>berlinsky</string>
				<key>comment</key>
				<string>我特别喜欢的一本中文育儿书是松田道雄的《定本育儿百科》。这位已经作古的日本老人很酷，他虽然是一位优秀的儿科医生，但他对孩子心灵和健康的发展的关注比疾病更多，也常常提醒家长们不要动不动就把孩子当病人对待。</string>
			</dict>
			<dict>
				<key>headimg</key>
				<string></string>
				<key>name</key>
				<string>游客</string>
				<key>comment</key>
				<string>　从妻怀孕到现在，基本上每个阶段都跟书里合得上拍。我对书里对于婴儿学话的叙述有着深切的体会，呵呵！伟大的松田道雄先生！</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>bookPicture</key>
		<string>QQ20150720-4.png</string>
		<key>title</key>
		<string>崔玉涛图解家庭育儿（珍藏 套装1-10册）</string>
		<key>class</key>
		<string>育儿/亲子</string>
		<key>writer</key>
		<string>崔玉涛	</string>
		<key>shortcomment</key>
		<string>《崔玉涛图解家庭育儿》全套完整呈现；李小璐、白百何、刘孜、马伊琍、李小萌、小巫无私推荐的新科学育儿书</string>
		<key>prize</key>
		<string>106</string>
		<key>newsItem</key>
		<array>
			<dict>
				<key>logo</key>
				<string>dd</string>
				<key>prize</key>
				<string>43.5</string>
				<key>url</key>
				<string>http://product.dangdang.com/20864581.html</string>
				<key>market</key>
				<string></string>
			</dict>
			<dict>
				<key>logo</key>
				<string>jd</string>
				<key>prize</key>
				<string>38</string>
				<key>url</key>
				<string>http://item.jd.com/10099109.html?cu=true&amp;utm_source=book.douban.com&amp;utm_medium=tuiguang&amp;utm_campaign=t_15055_&amp;utm_term=ce6d71e14bc04b5cacede2b762692bbc</string>
				<key>market</key>
				<string></string>
			</dict>
			<dict>
				<key>logo</key>
				<string>ymx</string>
				<key>prize</key>
				<string>36</string>
				<key>url</key>
				<string>http://www.amazon.cn/mn/detailApp/ref=asc_df_B0011991G81653141/?asin=B0011991G8&amp;tag=douban-23&amp;creative=2384&amp;creativeASIN=B0011991G8&amp;linkCode=df0</string>
				<key>market</key>
				<string></string>
			</dict>
		</array>
		<key>menu</key>
		<string>《崔玉涛图解家庭育儿1：直面小儿发热》
一 图解小儿发热
孩子的正常体温是多少？
人为什么会发烧？
怎样区分孩子正常的体温升高和发烧？
发热的三种形式
如何认识高热
宝宝发热是件好事？！
二 孩子发烧病程中的正确监测和护理
如何做到发热时有效的物理降温？
为何我们推荐38.5度就应服用退热药物呢？
服用退烧药的三种途径
不要被退烧药的药名弄糊涂
选退热药，成分不同，用量也不同
退热药，这么用效果好
高热惊厥的预防和处理
出现什么情况要带孩子去医院？
三 崔医师解评传统应对误区
发烧后立刻带孩子看医生
发烧后多次带孩子去医院检查
穿厚衣服盖厚被子发汗
担心退烧药有副作用不给孩子服用
一着急就让医生给孩子输液
认为抗生素能退烧
听信没有医学论证的偏方
四 崔大夫发烧门诊问答
体温超过37.5℃就是发热吗？
发烧是不是一种可怕的征兆？
发烧时，什么迹象不用紧张？
孩子体温高是不是代表病情严重？
孩子高烧会烧出肺炎或大脑炎吗？
着凉与发烧有关吗？
高热惊厥会遗传吗？
其他

《崔玉涛图解家庭育儿2：母乳与配方粉喂养》
1 选择适合宝宝的早期喂养方式
如何选择孩子出生后的第一口奶
母乳喂养前是否要彻底清洁乳房
尽量在产后30分钟内开始母乳喂养
婴儿体重下降不超过7%就要坚持母乳喂养
为何母乳能够保证婴儿的营养
母乳营养素的活性作用配方粉无法比拟
2 无母乳状况下的配方粉选择
如何给孩子选择配方粉
了解特殊医学用途婴儿配方粉
配方粉的正确使用方法
宝宝不接受配方粉怎么办
宝宝食量一定要和配方粉包装上推荐的食用量相同吗
大宝宝可以喝比他年龄段小的配方粉吗
生后早期配方粉喂养与过敏
3 母乳与配方粉喂养过程中常见的问题
如何养成良好的喂养习惯
孩子吃奶量与推荐量不同怎么办
妈妈乳汁分泌过多怎么办
母乳喂养过频也容易使婴儿“肥胖”
孩子何时不再需要夜奶喂养
母乳喂养期间妈妈生病服药应该注意什么
妈妈上班后是否还能母乳喂养
妈妈需要什么样的吸奶器
如何让孩子接受奶瓶喂养
母乳喂养多久比较好
喝配方粉的婴儿为何比喝母乳的婴儿长的大
如何给孩子更换奶粉
国外的奶粉是否适合中国的宝宝
4 崔大夫门诊问答
为何配方粉喂养儿大便偏干？
婴儿对牛奶不耐受怎么办？
母乳喂养的宝宝是否需要补钙？
母乳喂养的宝宝需要补充DHA吗？
母乳喂养婴儿需要补充维生素D吗？
平日应给婴幼儿补充多种维生素吗？
纯母乳喂养孩子要补铁吗？
母乳喂养儿需要补充微量元素吗？
新生儿黄疽还能接受母乳喂养吗？
早产儿与口腔畸形儿如何喂养？

《崔玉涛图解家庭育儿3：直面小儿腹泻》
第1章 图解小儿腹泻
孩子大便偏稀就是腹泻吗
孩子腹泻要立即止泻吗
孩子腹泻由什么引起
如何区分感染性腹泻和非感染性腹泻
病毒感染性腹泻
细菌感染性腹泻
乳糖不耐受性腹泻
孩子腹泻时什么情况要看医生
孩子腹泻时家长最需要关心的问题</string>
		<key>synopsis</key>
		<string>《崔玉涛图解家庭育儿（珍藏 套装1-10册）》全套内容完整呈现：
　　1.直面小儿发热
　　2.母乳与配方粉添加
　　3.直面小儿肠道健康
　　4.直面小儿过敏
　　5.小儿营养与辅食添加
　　6.小儿疫苗接种
　　7.直面小儿护理
　　8.小儿生长发育
　　9.直面小儿就医误区
　　10.小儿常见病
　　《崔玉涛图解家庭育儿》系列图书将家庭育儿中基本上涵盖的各种问题分以上10个主题进行归纳，全书贯穿崔大夫“将国外先进的育儿理念和中国传统育儿方法有机结合”的育儿理念，不做空洞理论，不论在母乳和配方粉喂养、辅食添加、普通护理时，还是孩子出现生长发育问题，常见病发生、甚至需要就医等情况下，都能让家长有趣地现学现用，保证能在宝宝需要的时第一时间正确应对，科学抚育宝宝的健康成长。</string>
		<key>comment</key>
		<array>
			<dict>
				<key>headimg</key>
				<string></string>
				<key>name</key>
				<string>刘孜</string>
				<key>comment</key>
				<string>崔医生尊重专业，尊重科学，尊重患者，他让我坚信正确的育儿观念能帮助孩子健康成长，这是一套好书。</string>
			</dict>
			<dict>
				<key>headimg</key>
				<string></string>
				<key>name</key>
				<string>白百何</string>
				<key>comment</key>
				<string>同意崔大夫的观点！药物不是自愈宝宝的唯一办法，这套书可以引导很多妈妈护理新生儿的各种急症。有文字，有漫画，总之80后的妈妈会特别喜欢。</string>
			</dict>
			<dict>
				<key>headimg</key>
				<string></string>
				<key>name</key>
				<string>李小萌</string>
				<key>comment</key>
				<string>这套书（崔玉涛图解家庭育儿）确实有很大价值，第一它可以给你直接的技术方面的指导，第二它会给你心灵上的安慰和支持。和长辈育儿观念冲突的时候，你把这套书拿出来，长辈很容易信服。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>bookPicture</key>
		<string>QQ20150720-1.png</string>
		<key>title</key>
		<string>孩子提问题大师来回答2</string>
		<key>class</key>
		<string>育儿</string>
		<key>writer</key>
		<string>杰玛·埃尔文·哈里斯 	</string>
		<key>shortcomment</key>
		<string>从上千名孩子提问中筛选出的最奇妙的问题——迷人而有趣、可爱又离奇，这是孩子的专利。</string>
		<key>prize</key>
		<string>36.8</string>
		<key>newsItem</key>
		<array>
			<dict>
				<key>logo</key>
				<string>dd</string>
				<key>prize</key>
				<string>24.5</string>
				<key>url</key>
				<string>http://product.dangdang.com/23701956.html?_ddclickunion=P-306226-0-s26412796%7Cad_type=0%7Csys_id=1</string>
				<key>market</key>
				<string></string>
			</dict>
			<dict>
				<key>logo</key>
				<string>jd</string>
				<key>prize</key>
				<string>24.5</string>
				<key>url</key>
				<string>http://item.jd.com/11692225.html?cu=true&amp;utm_source=book.douban.com&amp;utm_medium=tuiguang&amp;utm_campaign=t_15055_&amp;utm_term=4148fb2076ae4b27ac61b554e659ba0a</string>
				<key>market</key>
				<string></string>
			</dict>
			<dict>
				<key>logo</key>
				<string>ymx</string>
				<key>prize</key>
				<string>24.5</string>
				<key>url</key>
				<string>http://www.amazon.cn/mn/detailApp/ref=asc_df_B00XTQW0BY1654476/?asin=B00XTQW0BY&amp;tag=douban-23&amp;creative=2384&amp;creativeASIN=B00XTQW0BY&amp;linkCode=df0</string>
				<key>market</key>
				<string></string>
			</dict>
		</array>
		<key>menu</key>
		<string>1　 猴子还会变成人吗？
大卫•阿滕博格爵士（博物学家）
02　 宇宙有边儿吗？
布莱恩•考克斯教授（量子物理学家）
03　 人在旋转时为什么会眩晕？
埃利•坎农（全科医生、医学节目主持人）
04　 是谁想出的主意设立国王和女王？
杰里米•帕克斯曼（记者、作家、主持人）
05　 疾走龙和猎豹哪个跑得更快？
保罗•杰拉蒂（作家、插图画家、恐龙专家）
06　 怎么确定我不是活在梦里？
德润•布朗（魔术师）
很多时候，我们只能从已知的一点点线索去推测真相——却往往会错得很离谱。
07　 哪种乐器最早出现？
托尼•罗宾逊（演员、作家、节目主持人）
08　 新技术一定有益吗？
诺姆•乔姆斯基（语言学家、哲学家）
09　 为什么猕猴桃长满了毛？
阿里斯•富勒尔（园艺作家、主持人）
10　 我能成为足球运动员吗？
李•迪克逊（前阿森纳及英格兰代表队成员，现在是电视足球评论员）
11　 有什么东西能在黑洞里幸存吗？
马库斯•乔恩（天文书籍作家）
12　 人活着为了什么？
格雷灵（哲学家）
为了完成自己的使命而活便是生命的意义所在。
13　 尿为什么不能喝？
贝尔•格里尔斯（探险家、野外生存专家）
14　 既然可以大量印钞，为什么还会有经济衰退？
约翰•兰彻斯特（作家）
15　 为什么卫星导航仪里的女士认识路？
肯•登米德（《极客老爸》作者、博主）
16　 你能用随便什么题材创作一首歌吗？
保罗•麦卡特尼爵士
（音乐家、歌手、歌曲作家）
17　 蜘蛛能说话吗？
乔治•麦加文博士（昆虫学家）
18　 DNA 是什么？
萨姆•基恩（科普书作家）
19　 泡澡时手指为什么会变皱？
汤姆•斯马尔德斯博士（生物学家）
20　 为什么有些人歌唱得比别人好？
加雷斯•马隆（合唱团指挥、歌唱家）
21　 猫与我们的基因相同吗？
萨姆•基恩（科普书作家）
22　 在太空里大叫能被听到吗？
本•米勒（喜剧演员、科普作家）
23　 有人放屁时为什么挺可笑的？
米兰达•哈特（喜剧作家、演员）
24　 雷电击中海面时鱼为什么不会死？
吉姆•阿尔卡里里教授（科学家、节目制作人）
25　 我们为什么会有左边与右边？
贾斯汀•波拉德（作家、历史学家）
26　 隐形墨水是怎么回事？
西蒙•辛格博士（科普作家）
27　 为什么树叶只在秋天脱落？
卡罗尔•克莱因（园艺作家、节目制作人）
28　 为什么狒狒有个红屁股？
凯特•亨布尔（野生动物电视节目主持人）
29　 温斯顿•丘吉尔为英国做了些什么？
丹•斯诺（历史学家）
30　 流星与小行星有什么区别？
安德列亚•伍尔夫（自然科学作家）
31　 我打哈欠时旁边人为何也跟着打哈欠？
杰克•刘易斯博士
（神经学家、节目制作人）
32　 为什么昆丁•布雷克的画都乱糟糟的？
昆丁•布雷克爵士（画家）
33　 为什么斑马会长条纹？
卡伦•詹姆斯博士（生物学家）
34　 为什么汽车不能用汽油以外的东西当燃料，比如水呢？
昆廷•库珀（作家、科学及艺术节目主持人）
35　 为什么洋葱会使人流眼泪？
格雷格•富特（冒险科学家）
36　 为什么吃下的甜玉米粒又能原样拉出来？
玛丽•罗奇（作家）
37　 人类从哪儿学会了数数？
亚历克斯•贝洛斯（数学作家）
38　 蒙娜丽莎为什么没有眉毛？
马丁•肯普教授（达芬奇学家）
39　 弗莱明如何创造出了詹姆斯•邦德？
威廉姆•博伊德（小说家、剧作家）
40　 未来能否实现隔空传物？
布赖恩•克莱格（科普作家）
已经可以了！真的吗？
41　 谁杀死了最后一只渡渡鸟？
朱利安•休姆博士（伦敦自然历史博物馆研究员）
42　 谁发明了气球？
约翰•格里宾、玛丽•格里宾
（科普书作家）
43　 为什么老年人不喜欢流行音乐？
安•维特库姆（小说家、前政治家 )
44　 像牛和羊这样的动物是否也有口音？
约翰•威尔斯教授 ( 语音学专家）
45　 知更鸟能和乌鸫交朋友吗？
比尔•奥迪（观鸟者、播音员）
46　 我能只靠吃香蕉活着吗？
安娜贝尔•卡梅尔（育儿书作家）
无论你吃的是什么，长期只吃一类食物是无法生存的。
47　 为什么杰出的作品会催人泪下？
乔乔•莫伊斯（作家）
48　 哪种恐龙在地球上最早出现？
保罗•巴雷特博士（恐龙专家）
49　 星星为什么闪闪发光？
希瑟•库珀博士（天体物理学家）
50　 为什么有些球员即使不进球也比别的球员挣得多？
西蒙•库珀（记者）
51　为什么蝴蝶飞起来的样子好像是漫无目的的？
帕特里克•巴克汉姆（作家）
52　 没有新闻时报纸登什么？
奥利弗•伯克曼（记者）
53　 为什么母狮子没有狮鬃？
西蒙•金（野生动物制片人、博物学家）
54　 哑剧是什么时候发明的？
贝塔尼•休斯博士（历史学家）
55　 科学的意义在哪里？
约翰•格登爵士（生物学家、诺贝尔奖得主）
56　 为什么蝎子能在紫外光下发光？
道格拉斯•加芬博士（生物学家）
57　 我老爸的乐透彩票为什么老中不了奖？
蒂姆•哈福德（经济学家）
58　 什么使得海洋里波浪翻滚？
海伦•泽尔斯基博士（物理学家）
59　 我的金鱼认识我吗？
麦克•韦伯斯特博士（生物学家）
60　 为什么女孩喜欢洋娃娃而男孩喜欢汽车呢？
西蒙•巴伦 - 科恩教授（心理学家）
61　 钟表是如何发明出来的？
亚当•哈特 - 戴维斯（作家、前播音员）
62　 为什么会有潮起潮落？
约翰•格里宾、玛丽•格里宾（科普书作家）
63　 打喷嚏时为什么要闭上眼睛？
唐•哈珀博士（全科医生、节目主持人）
64　 如果抓住好多的气球，我能飞离地面吗？
乔纳森•特拉普（集簇气球旅行家）
65　 我的脑子那么小，如何能存下那么多信息？
乔舒亚•富尔（科学记者）
在你读到现在这句结尾时，就会产生新的记忆，那意味着你的大脑已发生了实实在在的改变。
66　 为什么罗马人总是四处侵略？
汤姆•霍兰（历史学家、作家）
67　 哪些动物去过太空？
珍妮•马德（科学记者）
你可知道一只叫“奈费尔提蒂”的蜘蛛？她一共在外太空飞行了 6700万公里。
68　 人老了为什么会长皱纹？
马克斯•彭伯顿博士（医生、作家）
69　 什么使得赫斯顿•布鲁门撒尔想当个厨师？
赫斯顿•布鲁门撒尔（厨师）
70　 为什么屁可以燃烧？
格雷格•富特（冒险科学家）
71　 潜艇可以潜多深？
詹姆斯•内斯特
（深海探险作家）
72　 为什么雄海马能生孩子？
达芙妮•费尔贝恩博士
（生物学家、作家、教授）
73　 为什么某些人特别爱招蚊子咬？
罗伯•希克斯博士
（全科医生、医学记者、主持人）
74　 为什么纽约被叫做大苹果？
菲利普•古登（字源书籍作家）
75　 为什么飞机在天上不会相撞？
布莱恩•克莱格（科普作家）
76　 我们如何学说话？
加里•马库斯教授
（认知学家、作家）
77　 人如何从眼睛里喷出牛奶？
伊尔克•伊尔梅兹（喷牛奶冠军）
78　 什么导致了食物中毒？
阿吉•麦肯齐（丑闻侦探）
79　 为什么鲸鱼如此巨大？
王严博士（生物学家）
80　 我们感到寒冷时为什么会哆嗦？
唐•哈珀博士（全科医生、节目主持人）
81　 野雁在呈“人”字形飞翔时怎样选择谁做头雁？
威廉姆•法因斯（一本有关雪雁的书的作者）
82　 胎儿怎么选择自己是男孩还是女孩呢？
拉德哈•莫吉尔博士（全科医生、医学记者、主持人）
胎儿真的是身不由己，是男是女完全随机！
83　 我们能到其他行星上居住吗？
克里斯托弗•赖利教授（科普作家、主持人）
84　 为什么猫落地时总能脚着地？
西丽亚•哈登（作家、专栏作家）
85　 指甲是从哪儿来的？
爱丽丝•罗伯茨教授（解剖专家、主持人）
86　 我们如何知道世界上有多少人？
汉斯•罗斯林教授（医生、统计学家）
87　 有人曾爬上过每一座高山吗？
帕特里克•莫罗（登山家、摄影家）
88　 谁更可怕，维京人还是凯尔特人？
内尔•奥利弗（考古学家）
89　 为什么鲜花很好闻？
阿里斯•富勒尔（园艺作家、主持人）
90　 哪种形状拥有的边最多？
马库斯•索特伊（数学家）
91　 为什么我们需要书？
玛丽亚•波波娃（作家）
92　 海洋中最危险的动物是什么？
保罗•斯内尔格罗夫博士（海洋生物学家）
93　 得挖多深才能找到恐龙骨头？
保罗•巴雷特博士（恐龙专家）
94　 婴儿是用我们平常的词汇来思考还是他们另有自己的语言？
查尔斯•弗尼霍夫博士（心理学家、作家）
95　 乌龟围着足球场转一圈要多少时间？
马特•帕克（滑稽数学家）
096　 人死了头发还长吗？
凯特琳•道蒂（殡葬师、作家）
097　 未来的房子会是什么样子？
凯文•麦克劳德
（作家、主持人、设计师）
098　 章鱼放屁吗？
乔伊•赖登伯格教授（比较解剖学家）
099　 为什么金属如此坚硬？
马克•米奥多尼克教授（工程师、材料科学家）
100　 既然能用橙子命名橙色，为什么不管香蕉叫黄色？
菲利普•古登（字源书籍作家）
101　 寂静算是一种声音吗？
昆廷•库珀（作家、科学及艺术节目主持人）
不算，也算。这要看你指什么了。
102　 我为什么不能在浴缸里养企鹅？
祖扎娜•玛泰雅索娃（伦敦动物园管理员）
103　 整个宇宙里有多少个星系？
克里斯托弗•赖利教授（科普作家、主持人）
104　 北极光是怎么产生的？
希瑟•库珀博士（天体物理学家）
105　 我们为什么会有感情？
格雷灵（哲学家）
106　 当过山车头朝下时人为什么会掉不下来？
吉姆•阿尔卡里里教授（科学家、节目制作人）
107　 世界上有多少种语言？
大卫•克里斯特尔教授（语言专家）
108　 世界上最大的昆虫是什么？
乔治•麦加文博士（昆虫学家）
109　 一年中何时是去阿拉斯加的最佳时间？
马塞尔•泰鲁（游记作家）
110　 我们为什么要哭？
克劳迪娅•哈蒙德（心理学家、广播主持人）
111　 大海里到底有多少鱼？
保罗•斯内尔格罗夫博士（海洋生物学家）
112　 为什么彩虹是弯曲的？
约翰尼•鲍尔（数学和科学爱好者）
113　 我们为什么对自己小时候的事没有什么记忆？
塔利•沙罗特博士（神经学家）
114　 心里直打鼓是怎么回事？
罗伯•希克斯博士（全科医生、医学记者、主持人）
115　 冰有味道吗？
加布里埃尔•沃尔克博士（作家、气象节目主持人）
116　 我们如何阻止小行星撞地球？
马库斯•乔恩（天文书籍作家）
117　 什么使食物变质？
乔治•麦加文博士（昆虫学家）
118　为什么猫儿“喵呜”，牛儿“哞哞”，羊儿“咩咩”？
大卫•贝洛斯教授（翻译家）
119　 为什么人类没有尾巴？
路易斯•利基博士（古生物学家）
120　 为什么大黄蜂消失了？
托尼•朱尼珀（环保活动家、作家）
121　 为什么磁铁只吸金属？
吉姆•阿尔卡里里教授
（科学家、节目制作人）
122　 世界上最糟糕的足球队是哪一支？
保罗•沃森（记者、足球图书作者）
123　 我怎么才能成为公主？
海伦•卡斯特博士（历史学家）
有两种办法成为公主……
124　 味蕾是怎样尝出味道的？
马克•波特博士（全科医生、医学记者）
125　 为什么辣椒这么辣？
马德•贾弗里（烹饪图书作家）
126　 蛇为什么不嚼食物？
史蒂夫•伦纳德（兽医、野生动物节目主持人）
127　 为什么要发明电视？
伊恩•洛吉•贝尔德（国家传媒博物馆副馆长）
128　 如果冰盖不断融化，海洋生物是否会受到影响？
加布里埃尔•沃尔克博士（作家、气象节目主持人）
129　 为什么鱼能在水里呼吸而我们却不能？
阿洛克•贾（科学记者）
130　 宇航员吃什么？
凯文•方博士（太空医学专家）
131　 我们应该一直善待卑鄙的人吗？
亚历山大•阿姆斯特朗（喜剧演员、电视主持人）
大体说来我们应该一直善待卑鄙的人，可是做到这一点又相当困难……
测验题
拿这些题轮流测试一下你的朋友和家人！
测验一
测验二
测验三
测验四
测验五
测验六
测验七
测验八</string>
		<key>synopsis</key>
		<string>孩子的奇妙问题 大师的高明回答
提问是孩子的专利，他们的小脑袋瓜里总是充满了各种奇思妙问。宇宙的问题、动物的问题、自己身体的问题、哲学的问题、人人都会问的问题、天才才会问的问题、不能成为问题的问题……
但是，孩子们却绝少有机会得到专业、准确又令他们满意的回答。为此，本书编者继《孩子提问题 大师来回答》之后，继续邀请孩子们提出问题，然后精选其中最奇妙有趣的问题，再次邀请世界各领域的顶级人物——他们真的是最合适的人选——予以解答。最奇妙的问题，遇到最高明的解答，是《孩子提问题 大师来回答》，同样也是这本《孩子提问题 大师来回答2》。
《动物世界》的制作人大卫•阿滕博格爵士会回答“猴子还会变成人吗？”《荒野求生》的制作人贝尔•格里尔斯会告诉孩子“尿为什么不能喝？”……还有语言学之父诺姆 •乔姆斯基、诺贝尔奖得主约翰•格登等上百号大人物也会满足孩子们的期待。他们的回答简明、幽默、严谨，有的颇具启发性，有的具有无边的想象力，有些回答甚至会让你进入新的迷惑，但无论怎样作答，都具有相当的广度或深度，没有孩子不会在其中乐而忘返。不仅对孩子来说，即使对大人，这样的风采可能也从未领教过。
</string>
		<key>comment</key>
		<array>
			<dict>
				<key>headimg</key>
				<string></string>
				<key>name</key>
				<string>斗樱</string>
				<key>comment</key>
				<string>儿童不是只有爱的哺育，就能够茁壮生长。每一个孩子就像是株稚嫩的幼苗，除了大地的根植，也离不开阳光雨露才能够更好的成长。孩子也是一样。不只需要成人的关爱，也需要知识的浇灌。 
　　 
　　用可口的营养食物让稚嫩的身体健康成长，用智慧的知识积淀让稚嫩的心灵健康成长，……许多成人在与之相处的时候，总感觉到他们的年龄与外貌并不相称的懵懂，但是许多的孩童在与之相处的成熟。这中固然也有天生的性情关系，更多的还在于历练。“穷人的孩子早当家”此言不虚。反之，许多家境不错娇养出来的孩子，哪怕年龄很大了，由于缺少历练心性上总觉得不够成熟。 
　　 
　　和我们父母那代人不同了，他们放学后书包往家一扔，就撒丫子满街巷的乱跑；和我们小时候也不同，我们小时候就在家的楼下面，邻里邻居的小孩子们玩儿得可热闹；总之，现在的孩子不要说到楼下去玩儿了，怕是连在楼里玩儿都未必能出得了门。现在的孩子，放假了就被关到屋里，要不就报个班学点什么，家里没什么好玩儿的，只能上电脑。 </string>
			</dict>
			<dict>
				<key>headimg</key>
				<string></string>
				<key>name</key>
				<string>团团花哚</string>
				<key>comment</key>
				<string>读《孩子提问题大师来回答2》/By 团团花哚 2015.07.14 
　　 
　　 为什么小孩要听话，为什么爸爸爱妈妈 
　　 为什么看见冰激凌，就让人口水流不停 
　　 牛奶果汁放冰箱，为什么变得凉又冰 
　　 我把美梦放冰箱，长大再拿行不行 
　　 
　　 特别喜欢大耳朵图图的这个主题曲，朗朗上口，又趣味无穷。一串串的唱着问下来，活脱脱一个古灵精怪的小家伙站在你的面前，带着对世间万物的好奇，叽里呱啦问个不停。 
　　 
　　 每个爸爸妈妈肯定都有这样的经历，小宝贝不停的追问为什么，小嘴巴里蹦出各种各样的问题，几乎没有一秒停下来的时候。当你高兴时，会觉得这声音如闻天籁；当你忙到抓狂时，会觉得这简直是魔音贯耳。有时她会问，为什么太阳下去了月亮就上来了？有时她又会问，为什么辣椒这么辣？成年人的思维让我们已经无法理解，到底为什么会有这么多为什么，太阳和月亮本来就是轮班的呀，辣椒它本来就是辣的啊，一直以来都是如此，到底要怎么去和一个稚童来解释为什么。 
　　 
　　 宝宝刚出生时的大脑只有成人大小的1／4，但到了2岁，就已经长到成人大小的3／4了，等到了5岁，孩子的大脑和成人大脑的大小及容量已经非常接近了，此时，脑部结构已经建立了起来。孩子具备了基本的学习、思考、记忆等能力，剩下的活动，就是如海绵般大量的、不断的汲取各种知识，文字的、图画的、科技的、日常的……如此细想，不难理解孩子哪里来的那么多为什么，那是他迫切的想要融入人类社会、想要长大的证明。我们应该庆幸自己的孩子能够问出来这么多为什么，那表示他的观察力不错，会自己思考，能够清晰的表达，并愿意寻求他人的帮助。瞧，小小的孩童已经这么出色了，做家长的我们，难道不该去肯定并且赞扬他吗。 
　　 
　　 当前教养类书籍盛行，爸妈们也意识到，在孩子的教育上，仅仅提供吃穿住用的养份是远远不够的。虽然孩子无法还无法自立，可是他们也是有思想、有情绪的个体，容不得大人慢怠。于是，我们不能生硬的回答他“这个世界本来就是这样”，也不能死板的把教科书上的知识点搬过来给他听，不能脑洞大开的随便抓个答案，又不能不理不睬抑制他的求知欲，真是想仰天长叹，做父母好难。 
　　 
　　 为了让爱提问的孩子满意，家长也得像海绵一样去汲取自己缺乏的那些知识，零零总总，包罗万象。所幸现在有发达的信息渠道供我们使用，知乎、果壳……很多科普频道可以阅读，但是针对孩童的，还没有见到过。当我拿到《孩子提问题大师来回答2》的时候，第一反应就是，这就是孩子们的知乎呀。各种趣问和妙答，让人读到停不下来，会心一笑中能学到不少的知识。大人可以独自阅读，填补知识的漏洞；也可以和孩子一起阅读，培养孩子阅读和思考的习惯。</string>
			</dict>
			<dict>
				<key>headimg</key>
				<string></string>
				<key>name</key>
				<string>moka </string>
				<key>comment</key>
				<string> 我们责怪孩子们不会飞翔，却不知道，正是自己的倨傲，亲手折断了孩子们想象的翅膀——这是多么可悲！ 
　　 
　　 疾走龙和猎豹哪个跑得更快？一个名叫卢卡斯的5岁男孩问道。 
　　 
　　 若你是父亲，你该如何回应呢？因为疾走龙早在几千万年前便灭绝了，而猎豹是新近才崛起的草原之王，它们俩根本没有机会同场竞技。但是，现在有了恐龙专家，这个问题就变得轻而易举，恐龙专家有专业的知识，计算出疾走龙最高速度无非60码，而猎豹瞬间速度甚至可达120码——这就叫“不可以道理计”啊。 
　　 
　　 有一个叫菜虫的小朋友，也提过一个相似的问题，他问道：刘翔跑得比野猪快吗？ 
　　 
　　 可惜菜虫的爸爸，就是笔者本人，不是野猪专家，不知道野猪的速度，给不了答案。但是，他还是肯定了菜虫这个出神的问题。认为这种提问的精神，正是他好奇的天性使然，值得鼓励。 
　　 
　　 我们这些家长也总是在提问。不过我们的问题，多数时候总是千篇一律：为什么我们的孩子，在五六岁的时候，总是爱提千奇百怪的问题，但是到了十五六岁，就变得索然寡味，对世间万物，再也没有好奇心了呢？ 
　　 
　　 这个问题的答案，其实在我们成年人自己身上。可能，我们就是用成年人的倨傲，日积月累地挫伤着孩子们的好奇心。我家乡有句俗语：问得萝卜不生根，问得葫芦不蔓藤。就是形容孩子们那种追问到底的质疑精神。可我们总是那么容易烦躁，不多久，我们就用一句“傻孩子”来搪塞，来打发了。殊不料，就在我们的不耐烦中，一个可能由此诞生世界级科学家的萌芽，就被轻易扼杀啦。于是，我们责怪孩子们不会飞翔，却不知道，正是自己的倨傲，亲手折断了孩子们想象的翅膀——这是多么可悲！ 
　　 
　　 这些脑洞大开，匪夷所思的问题，在孩子们，乃是必然。因为他们的脑袋瓜子里，充满了对这个新鲜世界的好奇，从不厌倦。他们通过提问，来完成对世界的认知，从而建构自己的意义世界。 
　　 
　　 现在，像这本书，由大师们煞有其事地，认认真真地回答这些脑洞大开的问题，这是一件多么好玩又有意义的事啊。首先，这是对孩子们最重要的鼓励。这表示，他们的声音被倾听了；他们的好奇被重视了。关键是这些一本正经做出回答的大师们，深刻地了解，这些问题对孩子们的意义，因而回答得又有趣，又有依据。我倒是觉得，这本书对我们成年人也许更有意义呢，因为，我们成年人对世界的习惯性认知，经由孩子们的提问，得到了一次根本性的刷新。成年人啊，再也不能毫无趣味地生活在这个世上了。孩子们在推动着我们，以善意、以新奇去重新打量这个世界。也即在这个意义上，可以说，孩子们是成年人的老师。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>bookPicture</key>
		<string>QQ20150720-2.png</string>
		<key>title</key>
		<string>西尔斯健康育儿百科</string>
		<key>class</key>
		<string>育儿</string>
		<key>writer</key>
		<string>威廉·西尔斯</string>
		<key>shortcomment</key>
		<string>一本关于儿童健康的综合指南，从新生儿到青春期，全面关照孩子健康</string>
		<key>prize</key>
		<string>49.80元</string>
		<key>newsItem</key>
		<array>
			<dict>
				<key>logo</key>
				<string>dd</string>
				<key>prize</key>
				<string>32.4</string>
				<key>url</key>
				<string>http://product.dangdang.com/23690464.html?_ddclickunion=P-306226-0-s26373220%7Cad_type=0%7Csys_id=1</string>
				<key>market</key>
				<string></string>
			</dict>
			<dict>
				<key>logo</key>
				<string>jd</string>
				<key>prize</key>
				<string>32.4</string>
				<key>url</key>
				<string>http://item.jd.com/11704434.html?cu=true&amp;utm_source=book.douban.com&amp;utm_medium=tuiguang&amp;utm_campaign=t_15055_&amp;utm_term=59a23bb40346410a8f9faa8e279bb6c3</string>
				<key>market</key>
				<string>满99.0元，可减20% </string>
			</dict>
			<dict>
				<key>logo</key>
				<string>ymx</string>
				<key>prize</key>
				<string>32</string>
				<key>url</key>
				<string>http://www.amazon.cn/mn/detailApp/ref=asc_df_B00Y7YA7EE1653885/?asin=B00Y7YA7EE&amp;tag=douban-23&amp;creative=2384&amp;creativeASIN=B00Y7YA7EE&amp;linkCode=df0</string>
				<key>market</key>
				<string></string>
			</dict>
		</array>
		<key>menu</key>
		<string>如何使用本书
第一篇 健康育儿四要点
1.为孩子找到合适的医生：如何选择儿科医生_002
2. 充分利用孩子的每次检查和看病_006
3.多保健，少吃药_012
4. 遵循西尔斯医生的全面健康指南，保障孩子的健康_014
第二篇 健康儿童常规检查：如何从家长——儿科医生的合作中获取最大收益
1．疫苗_046
2．新生儿检查_049
3．一周检查_054
4．满月检查_058
5．两个月检查_062
6．四个月检查_065
7．六个月检查_068
8．九个月检查_073
9．周岁检查_077
10． 15个月检查_082
11． 18个月检查_086
12.两岁检查_091
13. 4～6岁检查_099
14. 7～12岁检查_102
15.青春期物理检查_105
16.运动员物理检查_110
第三篇 儿科健康问题与疾病（196 种）
1. 腹痛 120
2. 痤疮 128
3. 过敏反应（全身性过敏反应） 133
4. 过敏 134
5. 贫血 143
6. 厌食 145
7. 阑尾炎 147
8. 关节炎 149
9. 阿斯伯格综合征 153
10. 哮喘 155
11. 脚气 162
12. 亲密育儿（AP） 163
13. 注意力缺失障碍（ADD） 166
14. 自闭症 171
15. 背部问题 177
16. 口气（口臭） 182
17. 尿床 183
18. 胎记 189
19. 咬伤：人类、动物和昆虫 190
20. 咬人行为 195
21. 膀胱感染（尿路感染） 196
22. 水疱 200
23. 大便带血 201
24. 幼年儿童狐臭 201
25. 疔 203
26. 呼吸困难 205
27. 支气管炎 207
28. 暴食 208
29. 烧烫伤 210
30. 癌症症状 213
31. 口腔溃疡 215
32. 晕车 215
33. 猫抓病 216
34. 蜂窝组织炎 217
35. 胸痛 218
36. 水痘 219
37. 窒息 222
38. 包皮环切术 225
39. 感冒和咳嗽 227
40. 感冒疮 233
41. 婴幼儿肠绞痛 234
42. 脑震荡 243
43. 便秘 245
44. 接触性皮炎 248
45.CPR（心肺复苏） 250
46. 乳痂 252
47. 颅缝早闭 253
48. 哮吼 255
49. 让他哭 257
50. 腿脚弯曲 260
51. 割伤、擦伤和缝合 264
52. 囊性纤维化 268
53. 关于托儿所的问题 270
54. 脱水 273
55. 牙科问题 274
56. 发育迟缓 276
57. 儿童糖尿病 279
58. 尿布疹 281
59. 腹泻 283
60. 骶骨窝 286
61. 流口水 286
62. 诵读困难 287
63. 耳朵痛 289
64. 耳内异物 290
65. 耳部感染（中耳炎） 291
66. 坐飞机时耳朵痛 297
67. 穿耳洞 298
68. 副耳 299
69. 扯耳朵 299
70. 耳垢 299
71. 吃饭问题 300
72. 湿疹 304
73. 多形红斑（EM） 309
74. 眼睛：眼圈乌青 309
75. 眼睛：泪管堵塞 310
76. 眼睛：化学物溅入眼睛 311
77. 眼睛：对眼（斜视） 312
78. 眼睛：眼睑感染 314
79. 眼睛：红眼病（结膜炎） 315
80. 眼睛：睑腺炎 319
81. 眼睛：瞳孔不等大 319
82. 发育不良（FTT） 320
83. 晕倒 324
84. 脚臭 325
85. 发烧 325
86. 扁平足 330
87. 扁头（体位性斜头畸形） 332
88. 流感（流行性感冒） 334
89. 食物过敏 336
90. 配方奶过敏 340
91. 频繁生病 342
92. 真菌感染 344
93. 宝宝胀气 346
94. 胃食管反流病（GERD） 347
95. 地图舌 355
96. 成长痛 355
97. 脱发 357
98. 头痛 358
99. 撞头 359
100. 头部损伤 360
101. 听力问题 362
102. 心脏杂音与心脏缺陷 365
103. 痱子 368
104. 与炎热有关的疾病（中暑） 369
105. 甲型肝炎 371
106. 丙型肝炎 373
107.I 型单纯疱疹病毒（HSV-Ⅰ） 374
108. 打嗝 375
109. 婴儿髋关节脱臼 376
110. 髋部疼痛 379
111. 荨麻疹 380
112. 声音嘶哑 382
113. 住院 384
114. 脓包病 388
115. 炎症性肠病（IBD） 389
116. 黄疸 392
117. 膝盖肿块，伴有疼痛 395
118. 铅中毒 396
119. 虱子 397
120. 瘸拐 399
121. 肿块 400
122. 手淫 402
123. 麻疹 403
124. 脑膜炎 404
125. 偏头痛 407
126. 粟粒疹 409
127. 痣 410
128. 传染性软疣（MC） 412
129. 单核细胞增多症（单病毒，爱泼斯坦- 巴尔病毒感染） 413
130. 口疮 414
131. MRSA：耐甲氧西林金黄色葡萄球菌 417
132. 流行性腮腺炎 419
133. 肌肉萎缩症 419
134. 指甲损伤（手指和脚趾） 421
135. 肚脐外凸 422
136. 颈部疼痛和拉伤 422
137. 流鼻血 423
138. 鼻子受伤 426
139. 鼻内异物 427
140. 肥胖：西尔斯医生的儿童瘦身计划 428
141. 过度使用损伤（重复性压力损伤，RSI） 435
142. 安抚奶嘴的使用 437
143. 阴茎问题 439
144. 蛲虫 442
145. 白色糠疹 443
146. 玫瑰糠疹 444
147. 肺炎 445
148. 毒漆藤和毒葛 446
149. 银屑病 447
150. 青春期问题——青春期提前或迟缓 449
151. 皮疹 453
152. 直肠瘙痒 458
153. 玫瑰疹 459
154. 轮状病毒感染 459
155. RSV：呼吸道合胞病毒 462
156. 疥疮 464
157. 脊柱侧凸（脊柱弯曲） 466
158. 眼睛擦伤 468
159. 尖叫 469
160. 痉挛 470
161. 热性痉挛 472
162. 感觉处理障碍（SPD） 474
163. 性传播疾病（STD） 475
164. 鼻窦感染 483
165. 睡眠呼吸暂停 485
166. 睡眠问题 487
167. 吸烟：二手烟的危害 494
168. 打鼾 495
169. 大小便失禁 497
170. 言语迟缓和说话晚 500
171. 关节扭伤和骨折 502
172. 链球菌性喉炎 512
173. 口吃 515
174. 婴儿猝死综合征（SIDS） 517
175. 晒伤 519
176. 游泳性耳炎（外耳炎） 519
177. 出牙 521
178. 睾丸疼痛和肿胀 522
179. 喉部感染 526
180. 甲状腺问题 528
181. 蜱叮咬 529
182. 嵌甲 531
183. 踮脚走路 532
184. 舌系带过紧 533
185. 扁桃体和增殖腺增大 535
186. 扁桃体炎 536
187. 扁桃体结石 538
188. 斜颈 538
189. 脐疝 541
190. 疫苗反应 542
191. 阴道问题 544
192. 白癜风 547
193. 呕吐 548
194. 疣 551
195. 百日咳 553
196. 酵母菌属感染 555
附录
附录一：喂孩子吃药 558
附录二：专业术语中英文对照表 560</string>
		<key>synopsis</key>
		<string>编辑推荐：
从《西尔斯亲密育儿百科》到《西尔斯健康育儿百科》——《西尔斯亲密育儿百科》出版之后，有很多读者反馈只有100多页的健康部分满足不了自己的需求，在儿科工作和自己养育孩子的过程中，西尔斯夫妇和第二代西尔斯博士们也积累了更多知识和经验，于是就有了这本厚达600页的《西尔斯健康育儿百科》。
内容简介：
想象一下，凌晨三点，你焦急地守着生病的孩子。如果这时候，手头有专家的建议能帮你度过这个夜晚，那该多好啊！
《西尔斯健康育儿百科》是一本关于儿童健康的综合指南。对于每一种儿童疾病和紧急情况，从普通感冒、耳朵痛、长牙到学习障碍、接种疫苗，从新生儿到青春期的所有发育过程，你都 能从中找到对应的处理方案，包括什么时候你该担心、什么时候该去看医生、什么时候只需在家治疗。
西尔斯医生还为我们提供手把手的指导，告诉我们常规检查时应该注意哪些方面、如何促进孩子的健康成长、如何设计全家的健康计划、如何更有效率地与儿科医生合作。
《西尔斯健康育儿百科》以全面、可信、易于理解、可操作性强而著称，本书内容丰富翔实，每一个希望孩子健康快乐成长的家庭都应必备</string>
		<key>comment</key>
		<array>
			<dict>
				<key>headimg</key>
				<string></string>
				<key>name</key>
				<string>鼹鼠的土豆 </string>
				<key>comment</key>
				<string>我妈妈是家庭妇女，我和我妹妹，我哥哥姐姐们的孩子，我自己的孩子都是我妈带大的，大多数人喜欢“好带”的孩子，但是我妈认为那些“不好带”的孩子反而聪明。推荐《西尔斯橙色亲子课》《西尔斯健康育儿百科》这两本书。这两本书的作者是西尔斯家庭，不是一个人是西尔斯这家的家庭成员，西尔斯夫妇养育了大大小小，连儿子，女儿，孙子，孙女十多个孩子，而且他们本身也都是儿科医生，儿科心理医生。 
　　 
　　这也是我第一次看到给“不好带”的孩子定义的书，他们把这种孩子定义为“高需求”宝宝。从怀孕到青春期，从生理到心理，从父母到家庭成员，这两本书都涉及到了。 
　　 
　　《西尔斯健康育儿百科》从普通感冒、耳朵痛、长牙到学习障碍、接种疫苗，从新生儿到青春期的所有发育过程，你都 能从中找到对应的处理方案，包括什么时候你该担心、什么时候该去看医生、什么时候只需在家治疗。 
　　 
　　跟很多单纯关注孩子辅食，洗澡的书不同，这本书关注了对孩子心理安慰，还有引导。这个特别重要，但是大多数父母却对这个不重视，这种原生家庭的伤害会对孩子有终生的影响。 
　　 
　　带宝宝去拍照，在摄影工作室，有个孩子不愿意拍，大哭起来，他的妈妈抱他出去，可是到了门口又把正在哭泣的他交给爸爸，转身跟工作人员交涉。爸爸在电梯间大声的训斥孩子，孩子一边哭一边喊妈妈，可是爸爸没有停止反而跟孩子说“因为你哭，你妈不要你了。”结果孩子哭的都岔气了。还有一次，带孩子去游泳，碰上一个妈妈，孩子不想游，那个妈妈以钱都交了必须游为理由，不停的叨叨，非把孩子扔水里，结果孩子哭的奶都吐出来了。我和我妈讨论的时候都觉得这些行为对孩子都不好，都会让孩子不舒服。 
　　 
　　我不否认一个新生命得到来，会给家庭带来快乐，夫妻感情会更亲密。但是这个孩子在是个“玩具”之前，首先是个人，一切都要以照顾好他，让他快乐为前提。跟我女儿一起游泳的一个男孩，孩子游泳的时候爸爸妈妈，爷爷奶奶，姥姥姥爷都拿着手机拍照，孩子腿抽筋淹水，把孩子捞上来的竟然是工作人员。不好意思，扯远了，反正我推荐《西尔斯橙色亲子课》《西尔斯健康育儿百科 》这两本书，哄孩子真的不是说你让他吃饱穿暖就行了的。</string>
			</dict>
			<dict>
				<key>headimg</key>
				<string></string>
				<key>name</key>
				<string>特立独行的猫 </string>
				<key>comment</key>
				<string>作为一个新妈妈，我加入了很多妈妈群。妈妈群里经常讨论的一个话题就是“孩子XXX了，怎么办？”。比如发烧了，咳嗽了，手足口了，湿疹了等等。每当这时候，我总是很奇怪。在生孩子之前，我读过几套婴儿养育的书籍，虽然都零零散散的，但多少有点常识。为什么这么多妈妈就不能去读读书，而一定要去问同样不是医生的别的妈妈呢？孩子发病的原因都不同，见都没见过孩子，谁能为你的孩子下定论呢？ 
　　 
　　作为妈妈，选择并认真阅读一本养育指南，非常重要。在孩子生病的时候，首先要对孩子可能发生的问题有基础的理论知识，好过去别的孩子父母。《西尔斯健康育儿百科》就是这样一本值得妈妈去好好看的书。 
　　 
　　这本书开篇的第一句话说的很对，父母为孩子提供最主要的健康服务，而不是医生。很多中国妈妈的习惯，先问别的家长，再去问医院，自己什么都不知道，连最基本的常识都不知道。这其中当然有因为孩子太金贵了而产生的紧张感，但也有不阅读不了解的因素在其中。养育大全类的书特别多，几乎每个国家都有一个版本，作为读过好几本西尔斯系列的妈妈来讲，我觉得这本书生在0-18岁的长跨度，而不仅仅纠结在0-6岁的区间里。虽然美版中不乏有地域因素，但在预防的方面，也有很强的借鉴意义。在医患关系紧张，医疗资源紧缺，医疗知识各种误导的中国，如果家长能对宝宝的健康有提前的了解和预防，都是非常宝贵的经验。 
　　 
　　一个女人当了妈妈多少会有写敏感，很多事情妈妈圈里传各种养育和健康理论，妈妈们都会信以为真，并照着做。最近咽喉疱疹流行，有些帖子在疯传，第二天又出来辟谣贴。这种事情天天都在发生，因此妈妈们本身具有甄别能力，以及基础的健康育儿是非观也非常重要。 
　　 
　　从每个月的健康指南，体检标准，到0-18岁可能发生的病症，本书应有尽有的写出来。虽然很多人觉得这些病自己孩子都不会得的，但还是觉得应该看看。昨天一个做护士的读者跟我讲，白天一个5个月的宝宝突发性心肌炎去世了，才五个月，作为医护人员都觉得好难过，原因就是这个孩子发病开始的时候父母因为缺乏常识没有及时送医，导致了快速的心率衰竭致死。如果家人有点常识，会不会就避免这样的悲剧呢？ 
　　 
　　养孩子是个金贵的事情，不是闹着玩一样，在很多时候，提前了解，做到心中有数，哪怕是做到完全忘了，但知道在哪里能找到也是好的。其实我也不记得很多很多应对方法，但我记得这本书上有什么，真有问题的时候知道去哪里能找到解决方案，也是可以的。 </string>
			</dict>
			<dict>
				<key>headimg</key>
				<string></string>
				<key>name</key>
				<string>林资言</string>
				<key>comment</key>
				<string>认为做好了充足的准备，可以勇敢的迎接这个小宝贝了。但凡是当过妈妈的人，都能体会这种为了孩子的生长健康操碎了心的经历。 
　　 
　　　　2014年底我的女儿在我的无限期待中来到了我的身边。在产房里，从护士手里接过她，小家伙瞪着两个圆溜溜的大眼睛一眨一眨的看着我，大拇指放在嘴巴里嘬的津津有味，整个产房里都能听到她嘬手指的声音，当时的我就像做梦一样的望着她，心底已经暗暗发誓，我要用我的生命来护她健康、快乐。 
　　 
　　　　在自己不如儿科医生专业的情况下，家里能有一本真正全面的育儿指南就真的是太好了。于是我看到了这本书《西尔斯健康育儿百科》。本书由：威廉•西尔斯（医学博士）、玛莎•西尔斯（注册护士）、罗伯特•西尔斯（医学博士）、詹姆斯•西尔斯（医学博士）和彼得•西尔斯（医学博士）几位用专业知识以及亲身育儿经验编写而成。目前无论是从怀孕到生产，从育儿到家庭健康，从美国到中国，人们都越来越乐意向儿科专家“西尔斯家族”寻求建议和信息。能够得到国际上权威的育儿指导，自己就可以踏实安心的照顾宝宝了。 
　　 
　　　　书中前言中有一句话，一下子被戳中：想象一下，凌晨三点，你焦急地守着生病的孩子。如果这时候，手头有专家的建议能帮你度过这个夜晚，那该多好啊！家中宝贝生过病的妈妈们应该都能深刻体会。半夜抱着生病的宝宝，手忙脚乱，这时候妈妈群帮不上忙，专家崔玉涛不在微博，各种书籍不够系统，去医院又怕遇见黑心医生。焦急慌乱中，你完全可以通过西尔斯的书籍目录查阅到宝宝生病的症状以及前期的照养方法。谢天谢地，既专业又及时。 
　　 
　　　　本书一共分三部分，也是家长最为关注的三个问题： 
　　　　第一篇 健康育儿四要点 
　　　　第二篇 健康儿童常规检查 
　　　　第三篇 儿科健康问题与疾病 
　　 
　　　　第一篇主要针对育儿观念问题，针对很多家长的常有观念，西尔斯给出了几条建议： 
　　　　☞为孩子找到合适的医生。 
　　　　有些家长，仇恨医生，总觉的现在的医生医德太差，最后一竿子打死所有人。于是在孩子生病了，护理不愈之后仍然不愿意去看医生，导致耽误孩子健康，产生了更加严重的病症。这让我想起来我的一个高中同学，认为无论如何都不愿意让孩子输液，不管医生怎么说都不听。后来导致孩子肺炎严重，不得不采取住院治疗。所以，要为孩子找到合适的医生，这个医生要能得到家长的认同，在需要的时候采取能够听取的合理意见，让家长，医生和孩子进行最好的沟通和配合。为了还得健康共同努力。 
　　　　☞ 充分利用孩子的每次检查和看病。 
　　　　书中讲了让孩子在身体检查的时候放松不紧张的方法，觉得非常实用。之前很多妈妈，为了吓唬孩子，总是拿医生和打针来威胁。动不动就对孩子说如果你不乖我就让医生给你打针。宝宝每次听到都会对医生产生特别恐怖的感觉。这样做的后果是让孩子每一次去医院不管是检查还是治疗都情绪紧张，配合不好。所以书中详细的介绍了家长应该怎样正确的引导孩子了解医生的检查。让一切都变的轻松起来。 
　　　　☞多保健，少吃药。 
　　　　预防永远好于治疗。常言道：是药三分毒。不管是这样安全的药物都是不好的。所以在照顾孩子的时候应该多保健，可以适当推拿按摩，食补食疗，健身运动等等，任何一种保健项目都比吃药好。所以妈妈再也不要动不动就依赖药物的作用了。 
　　　　☞遵循西尔斯医生的全面健康指南，保障孩子的健康。 
　　　　西尔斯的健康指南，专业又全面。在保障孩子的健康上有非常大的参考价值。作为爸爸妈妈都应该看看这样一本育儿指南。让我们在育儿道路上得心应手。 
　　 
　　　　在育儿道路上，正确的观念是前提。然而重中之重则是宝宝的健康问题与疾病。书中最浓墨讲解的就是这一部分了。我的有些新妈妈朋友最经常咨询我的问题也是关于宝宝的健康问题。我不是专家，可是在他们的眼中我是比他们有经验。如果他们有这本书，大概就再也不用问我了吧。书中讲到的都是孩子最常遇见的问题。比如便秘（好吧，这是我妞妞经常出现的问题），书中给出了症状，妈妈可以通过症状来观察看宝宝是否出现了这样的现象（通过观察，我家宝宝确实是便秘了。）然后书中给出了可能造成便秘的三种原因：第一种是添加辅食导致的；第二种是吃了容易便秘的食物导致的；第三种是排便练习导致的。（看完之后得出我家宝宝是因为前两种原因），书中给出了治疗便秘的天然疗法以及药用疗法（我可以给我家的宝宝试一试）。从症状到查找原因最后给出疗法治疗解决。一站式的宝典让妈妈对问题的把握更加正确，治疗起来也就更有针对性。 
　　 
　　　　例子不多举，书中一共讲了196种儿童常见病症，黄疸，湿疹，儿童肠绞痛，胀气，出牙，问题全面的覆盖了宝宝容易出现的所有问题。 
　　 
　　　　最后说一下本书内容为什么会这么实用全面，因为西尔斯家族的人，不单单只是专业的医生，他们撰写这本书也不单单是通过别人家宝宝的案例，而是他们自己就是养育了不止一个孩子的专家父母。作者是用专业知识和实践经验结合的编写本书，实用价值就会比较高。如果自己身边拥有这样一本书，在孩子出现问题的时候就能及时的给出最专业的健康判断以及治疗指导。最后就会成为作者所希望的那样：：“如果有人问你，谁为你的孩子提供最主要的健康服务？而你骄傲的回答我自己，这便是我们作为儿科医生的最大喜悦” 。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>bookPicture</key>
		<string>QQ20150720-3.png</string>
		<key>title</key>
		<string>和妈妈如影随形的日子</string>
		<key>class</key>
		<string>育儿/亲子</string>
		<key>writer</key>
		<string>红茶	</string>
		<key>shortcomment</key>
		<string>一本令人怦然心动的亲子自然笔记，一个和妈妈一起成长的小小童年</string>
		<key>prize</key>
		<string>39</string>
		<key>newsItem</key>
		<array>
			<dict>
				<key>logo</key>
				<string>dd</string>
				<key>prize</key>
				<string>28.1</string>
				<key>url</key>
				<string>http://product.dangdang.com/23700690.html?_ddclickunion=P-306226-0-s26383741%7Cad_type=0%7Csys_id=1</string>
				<key>market</key>
				<string>满¥49包邮</string>
			</dict>
			<dict>
				<key>logo</key>
				<string>jd</string>
				<key>prize</key>
				<string>29.6</string>
				<key>url</key>
				<string>http://item.jd.com/11691166.html?cu=true&amp;utm_source=book.douban.com&amp;utm_medium=tuiguang&amp;utm_campaign=t_15055_&amp;utm_term=4a7f5b85477e4970a3caca0528ac07de</string>
				<key>market</key>
				<string>满100-10元 </string>
			</dict>
			<dict>
				<key>logo</key>
				<string>ymx</string>
				<key>prize</key>
				<string>28.1</string>
				<key>url</key>
				<string>http://www.amazon.cn/mn/detailApp/ref=asc_df_B00XTLFQD81650760/?asin=B00XTLFQD8&amp;tag=douban-23&amp;creative=2384&amp;creativeASIN=B00XTLFQD8&amp;linkCode=df0</string>
				<key>market</key>
				<string>买好书减10元</string>
			</dict>
		</array>
		<key>menu</key>
		<string>目录
卷一：
姥娘家的夏天
卷二：
和爸爸妈妈在一起
卷三：
芬芳的季节</string>
		<key>synopsis</key>
		<string>春天的花热闹地开/夏天的无花果树上趴着天牛
秋天你的小手捡起落叶和果子/冬天我们站在树下呵出长长的白雾
这些都是/和妈妈如影随形的日子里/珍贵而又温柔的礼物
自从嘉嘉学会走路以后，妈妈并不急着教她认字、背诗。妈妈认为，在大自然中感受空气的流动，观察树叶的颜色，嗅到花草的 香气，对处在“原始状态”的小孩来说，更为重要。只要天气晴好，妈妈便带着嘉嘉在大自然中游荡，看花看草看虫子。那些和妈妈如影随形的日子里，小小的可爱的、活泼的、动 人的细节，天真而珍贵的儿童心理，在妈妈温柔的画笔下，都一一得以呈现。春天的蒲公英和紫花地丁，夏天的狗尾草和地雷花，午后吹过小院树梢的凉风，召唤蜗牛出来散步的夜雨，那些看似平淡的每一天里，都蕴藏着使我们的心为之欢欣鼓动的自然魔法。</string>
		<key>comment</key>
		<array>
			<dict>
				<key>headimg</key>
				<string></string>
				<key>name</key>
				<string>林雨飞</string>
				<key>comment</key>
				<string>这本书其实只是一本妈妈记述与孩子一起日常生活的小书，语言平实并不煽情，却让我看得痛哭流涕。天哪，我在想，我到底错过了什么？我有一个和书中孩子差不多大的女儿，现在不到两岁，叫栗子。我想如果她也写这样一本书，那么标题也许会是《和奶奶如影随形的日子》。 
　　 
　　其实我并不是那种事业型的妈妈，我不是全职工作，栗子降生以后，我和先生商量，开始自己经营一个设计产品工作室，每周大概只有30个小时的工作时间，剩下的时间我都用来“带孩子”。这些令很多职场妈妈羡慕的亲子时间，却很多时候被我当作负担。 
　　 
　　当新妈妈是一件特别有挫败感的事儿，小时候的劳累不提，稍大一点，她便开始有自己的想法，她不爱吃我辛辛苦苦准备的食物，我最困倦的时候她却已经困了还不肯睡，带她外出去好玩的地方时她要求回家，天气最热的时候她要去外面玩，。而最令我难以适应的是她占据了我生活中的太多时间和精力，于是我下意识的找好多可以偷懒的方法。带她去游乐园挖沙子，我就可以坐在旁边休息；去早教班，有老师带着一起，我不至于无聊；给她买各种各样的玩具、绘本还有光盘，买了高级的音响给她放睡前故事，这样我就能轻松些，有空可以看看手机什么的。然而这一切，她并不领情，每隔一会儿就坚定地一直呼喊着“妈妈~~~”她最喜欢妈妈，而我却总是应付她。 
　　 
　　在我们忙着抱怨生活让本来光灿如珠宝的自己蒙上灰的时候，《和妈妈如影随形的日子》的作者红茶却将时间漏下的沙粒中磨砺成金，坠成了一幅幅美丽的画作，熠熠生辉。她用孩童的视角重新看世界，于是一切都变得新鲜有趣了，杏子是食物也是玩具，阿拉伯婆婆纳的花蓝蓝的小小的，第一口冰激凌的味道，一小块碎玻璃也是宝贝。书中很多小的细节，估计每个孩子都曾经有过，只不过在我们看来稀松平常，好像并不值得记录下来。但正是这些平淡无法复制消逝而过的瞬间，构成了我们的每一天。但孩子也有各种情绪，不是无理取闹，耐心的去看，才能“看见”真实的孩子。 
　　 
　　也许是我的童年里，我父母就并未拥有这种与孩子一起玩一起成长的能力，他们对我非常好，陪伴的时间也不少，却仅限于我的饮食起居，带我出去玩也就是让我自己玩，更不要说对自然的启蒙。而相比之下，我先生就幸福得多，从小婆婆就带着他一路走一路玩，碰上任何有趣的小东西也会停下脚步观察，地上的小花小草，天上的星星，街边的彩旗，马路上的标识等等。于是后来我先生大学学了生物，然后研究植物分类，更写了很多科普的文章和书籍，想要把这一份自然之心传递下去。所以，栗子也还是很幸运的，奶奶会带着她每天在自然中玩耍，哪怕只是小区绿地和附近小公园。当栗子指着天上的星星对我说是金星的时候，在一个从没去过的公园里指着一丛花说锦带花的时候，见到鸽子麻雀喜鹊戴胜会跟它们打招呼的时候，我很为她高兴，却又为自己错过了这么多而感到有一点小遗憾。 
　　 
　　于是我也开始慢慢的静下心，在陪伴她的时候更耐心一点，更专心一点，更“走心”一点，俯身用孩子的眼光重新看这个世界。然后我就发现，可以享受与孩子如影随形的日子了，也不觉得无聊了。当她晚上不睡觉闹着去外面玩的时候，不再发脾气，而是静静的带她出去，看她在黑暗中快乐的奔跑，默默的在她身后守候。那一次，清风拂面，大朵大朵的白云在夜空中飘过，云过去之后，我们一起看见了北斗七星。她跑过来，抱住我，轻声说，好妈妈。 
　　 
　　以前总在想，我为什么要爱我的孩子，是出于责任，还是义务还是天性？这才发觉，孩子的爱才是无私的无条件的，不管我如何忽视她、凶她，她还是一样的依恋我。而正是这些一点一滴的陪伴，让爱如涓涓细流，流淌到彼此的心中。这几年都没有长时间离开过栗子，爸爸倒是经常出差。而每次爸爸出差回来，栗子都会出现一些反常的情绪——不是更粘爸，反而是更粘妈了，怕爸爸把妈妈抢走吧。在0-3岁的孩子世界里，妈妈是最重要的吧，那我又还在抱怨、疑惑什么呢。即使她以后再也不记得3岁之前的事情，但我想这份温柔相待会永远伴随她。在她懵懂的这几年里，能让她全身心的依恋和陪伴，是我能做的最好的事。 
</string>
			</dict>
			<dict>
				<key>headimg</key>
				<string></string>
				<key>name</key>
				<string>蓦烟如雪</string>
				<key>comment</key>
				<string>——评《和妈妈如影随形的日子》 
　　文/蓦烟如雪 
　　 
　　 看完这本书，我对红茶的生活还是充满了好奇，甚至特为找寻到了她的博客，继而是她的微博，作为一个新锐绘本作家，她的实力不容小觑，她先后出版了《一直很笨拙》、《一直在一起》还有《一直都在玩》的系列绘本。 
　　 无疑说，这是一枚很勤劳的作者，从她的上述作品中，都能窥见她生活的影子。一个画者最为浪漫的地方，不在于她画了多少的画，而是能从她每张画中找到她的诗意，她的情怀，甚至是她脉脉温情的源点。 
　　 《和妈妈如影随形的日子》一书，正是讲述她与女儿相处的点滴故事，一个文艺范的母亲，教育模式上多少还是有些许不同，就比如她愿意让自己孩子多亲近自然，这一点让我想起曾经看过的《多多，爸爸一直在这儿》，父爱和母爱，虽然投射的方式不同，但出发点都是源自于爱的庇护，他们渴望给予最好的，最温柔的，最贴合于孩子未来的教育，我喜欢这样的妈妈生活笔记，其一是毅力，其二是爱的坚持。 
　　 如序言柏邦妮所说，她没有抒情，比如午夜看到自己娃的小脸，母爱泛滥，恨不得为她去死。她也没有诉苦，诸如身体纹路断裂哺乳之后胸部变成两只袜子失去了事业和自我。她没有讲自己多么爱自己的老公……没有诉说两地分居，而是互相牵挂，她只是把女儿想爸爸的心情，一笔一笔的勾勒出来，体现的是家的温情和爱的互递。 
　　 在卷一，姥娘家的夏天里，我喜欢像作者的女儿像小尾巴一样的跟随着母亲，她穿着不合适的鞋子，渴望着长大，小女孩在13年4月30日的一句，“谢谢妈妈”，感动了作者的同时，也感动了我，天下的间的母爱，岂是一句谢谢可以涵盖，但一句谢谢，是女儿的感恩，也是女儿爱妈妈的呼声。 
　　 妈妈带孩子观察蚂蚁，让她明白人不得贪得无厌，带她去看梧桐结球，品味季节成长的味道，看柿子树、荚果、草莓，看狗尾草、牛筋草、稗草和毛马唐等等，能从一本书里窥见一季的花草，是生活，也是自然的馈赠。 
　　 教育不应该是囚困在课堂里，他们都渴望装上翅膀去飞翔一次，可以闻见花儿的清香，可以两脚踏在柔软的土地上，可以看见自己不加想象的颜色，我想嘉嘉的妈妈就是明白了这些才会坚持不懈地让自己的孩子天天去观察花朵，看看草儿。 
　　萌态看书的孩子，小声念画册给爸爸听的孩子，帮妈妈扶着椅子的孩子，躺着妈妈怀里数星星的孩子……这里记录着闪逝的时光，却刻画了最温馨的一页，虽然这本书里，不是页页全彩的画面，但这里的每篇都有母亲倾注的关爱。 
　　女孩是何以有幸遇到这样的母亲，母亲又是如此感恩收获如此贴心的孩子，孩子都是母亲的手中宝，我们都是渴望爱的一员，如果有一天你丢失了爱的味道，请你去翻一翻，这里有太多的爱，太多的亲情等着你一一窥视。</string>
			</dict>
			<dict>
				<key>headimg</key>
				<string></string>
				<key>name</key>
				<string>R郭郭</string>
				<key>comment</key>
				<string>养育孩子，这是上天给予我们最好的使命。每一位母亲用自己的身体孕育了一个小小的生命，从他出生开始就一直相伴左右，我们把自己能够提供的最好的东西都给了孩子。陪伴，便是我们能给孩子最大的礼物。 
　　 
　　 
　　养育孩子的乐趣真的很多，看着他们慢慢从牙牙学语，踉跄学步开始，到后来可以自我满足。他们小时候撒泼打滚几乎占用了我们所有的娱乐时间，但看着孩子一步步成长起来，在我们柔软的心中，便觉得一切的牺牲真的是有意义的一件事情。这次看完《和妈妈如影随形的日子》一书，更是让我回忆起了不少与孩子在一起时最甜蜜的时光。 
　　 
　　 
　　《和妈妈如影随形的日子》是作为插画家的妈妈红茶从孩子嘉嘉学会走路开始，不定期记录嘉嘉各种行为的爱心日记。这本书不是普通书籍一样印刷的正楷铅字，而是红茶用自己的手写文字加上可爱的插图制作成为的一本书。看起来像是全职妈妈记录孩子一些可爱行为的碎碎念，但其中温馨的故事和有爱的画面总让我感受到的是满满的母爱。 
　　 
　　 
　　看到小嘉嘉出门找到一大堆莫名其妙的“宝物”的时候，看到小嘉嘉拿着牙刷吸干漱口用的水的时候，看到小嘉嘉因为受伤而贴着创可贴小心翼翼保护手指头的时候，我已经开始忍俊不禁了，这些情形我家的孩子都有出现过呀！原来孩子们的世界也存在那么多相同的有趣之事。学会走路后便会探索世界，这是孩子美好的好奇心驱使，但不管走到哪里，孩子都希望能和妈妈呆在一起，如影随形，每个孩子都是妈妈最幸福的小尾巴，跟着妈妈一起成长，才是孩子们的梦想啊！ 
　　 
　　 
　　另外一个喜欢这本书的地方就是，这还是一本极好科普野花野草的图鉴。带着嘉嘉从家附近的每一种野花野草开始，红茶很用心地把每一种不同的植物画在了书中，让我们可以粗略地学习一些植物的形状和特点。对于现在普遍流行的认字、背诗这种认知教育，不再是孩子们需要学习的重点，回归自然，才能让孩子感受到最好的生命教育。这些植物的图片说不上是图鉴大全，但对于孩子的世界来说，这些属于大自然的生命，就是神奇的存在。 
　　 
　　 
　　自然教育能够给孩子的，不是学会多少种动植物的学名、科属、形态形状等等量化的知识，而是在大自然当中，教会孩子基础的生态教育、不可缺少的生活教育和至高的生命教育，这才是大自然想要教给孩子的本意。这也是我们做父母的需要学习的一种生活态度。 
　　 
　　 
　　在大自然的世界当中，每一种鲜活的生命都是独一无二的存在，就像孩子一样。让我们在大自然当中拥抱生命吧！ 
　　
</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
